page-location-category {
    .intro {
        color: #666;
        font-style: italic;
        margin-bottom: 10px;
    }
    .category-item {
        .icon-marker {
            width: 22px;
            height: 22px;
            display: block;
            float: right;
            bottom: 15px;
            right: 15px;
            i {
                line-height: 22px;
                font-size: 16px;
            }
        }
    }
}
