  page-rich-text-add {
    .rich-add-item {
      border: 0.55px solid #c8c7cc;
      margin-bottom: 10px;
    }
    .rich-add-text textarea {
      min-height: 140px;
    }
    .add-action {
      margin-top: 20px;
    }
    .rich-add-item {
      // padding-left: 0!important;
      position: relative;
      .text-input {
        padding-left: 10px;
      }
    }
    .rich-add-img {
      padding: 0;
      border: 0;
    }
    .action {
      text-align: right;
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 0;
      display: flex;
      .action-item {
        border: 1px solid #d0d0d0;
        padding: 2px 5px;
        font-size: 12px;
        background-color: rgba(237, 237, 237, 0.6);
      }
    }
  }

  .rich-bottom-sheet {
    .action-sheet-container {
      //   padding: 0;
    }
    .action-sheet-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; //   border-radius: 0;
    }
    .sheet-item {
      flex: 1;
    }
    .cancel-btn {
      //   padding: 6px;
      //   min-height: 3.5rem;
      //   height: 3.5rem;
      //   background-color: #dbdbdb;
    }
  }
