<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="avatar-wrapper">
    <img class="user-avatar-img" [src]="avatar" *ngIf="avatar">
  </div>
  <ion-list>
    <ion-item-group *ngIf="isMe">
      <button ion-item navPush="SignupPage" [navParams]="{signStep:1,userInfo:userInfo}">修改资料</button>
    </ion-item-group>
    <ion-item-group>
      <button ion-item navPush="MapListPage" [navParams]="{navUserId:navUserId,listType:'map',title:callTitle+'创建的地图集'}">{{callTitle}}创建的地图集</button>
      <button ion-item navPush="MapListPage" [navParams]="{navUserId:navUserId,listType:'location',title:callTitle+'创建的地点'}">{{callTitle}}创建的地点</button>
    </ion-item-group>
    <ion-item-group *ngIf="isMe">
      <ion-item-divider color="light"></ion-item-divider>
      <button ion-item navPush="FeedbackPage">给我们提意见</button>
      <!-- <button ion-item (click)="about()">关于<b>人人地图</b></button> -->
    </ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>
    <ion-item-group padding>
      <button ion-button block full color="danger" class="logout-btn" (click)="logout()" *ngIf="isMe">退出登录</button>
    </ion-item-group>
  </ion-list>
</ion-content>