<ion-header>
  <ion-navbar color="primary">
    <div class="search-entry">
      <ion-searchbar placeholder="搜索地图集" disabled></ion-searchbar>
      <div class="search-wrapper" (click)="goSearchPage($event)"></div>
    </div>
    <ion-buttons end>
      <button ion-button icon-only (click)="goContactPage()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card class="map-card" *ngFor='let map of maps' (click)="goMapDetail(map)" tappable>
    <div class="map-wrapper"></div>
    <img src="{{map.coverImg | imagefilter:'mural' }}"/>
    <div class="card-title">{{map.title}}</div>
    <div class="card-subtitle">{{map.description}}</div>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="hasMore">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab bottom center #fab>
    <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <div class="fab-list-wrapper">
        <button class="add-fab-btn" ion-fab (click)="openAddModal('map', fab)"><ion-icon name="albums"></ion-icon><div class="fab-btn-title">地图集</div></button>
        <button class="add-fab-btn" ion-fab (click)="openAddModal('location', fab)"><ion-icon name="pin"></ion-icon><div class="fab-btn-title">地点</div></button>
      </div>
    </ion-fab-list>
  </ion-fab>
</ion-content>
