<ion-header>
  <ion-toolbar>
    <ion-title>
      添加地点
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">关闭</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="item item-img-add">
    <ul class="img-prev">
      <li class="prev-item" *ngFor="let img of locationImgs">
        <img class="prev-img" src="{{img}}">
      </li>
    </ul>
    <ion-spinner [hidden]="!imgLoading"></ion-spinner>
    <span class="img-add-block">
        <ion-icon name="add" class="img-add-icon"></ion-icon>
        <div class="img-input-wrap" [hidden]="!isShowImgUploader">
            <form enctype="multipart/form-data" class="img-add-input" method="post">
                <input name="token" type="hidden">
                <input type="file" (change)="imgChange($event)" accept="image/x-png, image/gif, image/jpeg" class="img-add-input">
                <input type="submit">
            </form>
        </div>
    </span>
  </div>

  <ion-item class="no-padding-left">
    <ion-textarea placeholder="分享下你对这里的评级和感受吧..." [(ngModel)]="description"></ion-textarea>
  </ion-item>

  <ion-item class="no-padding-left">
    <ion-label>添加到我的地图集：</ion-label>
    <ion-select [(ngModel)]="curMap">
      <ion-option *ngFor='let map of maps' value="{{map._id}}">{{map.title}}</ion-option>
    </ion-select>
  </ion-item>

  <button ion-button block (click)="submit()">确定</button>

</ion-content>
