<ion-header>
  <ion-toolbar>
    <!-- <ion-title>
      添加地点
    </ion-title> -->
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">取消</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-segment [(ngModel)]="pageType">
      <ion-segment-button value="status">
        状态
      </ion-segment-button>
      <!-- <ion-segment-button value="blog">
        长文
      </ion-segment-button> -->
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content padding [ngSwitch]="pageType" class="add-loc-modal">
  <div class="content-add status" *ngSwitchCase="'status'">
    <div class="item item-img-add">
      <ul class="img-prev">
        <li class="prev-item" *ngFor="let img of locationImgs;index as i;">
          <ion-icon name="ios-close-circle" class="remove-icon" (click)="removeImg(i)"></ion-icon>
          <img class="prev-img" src="{{img | imagefilter:'thumbnail'}}">
        </li>
      </ul>
      <ion-spinner class="img-spinner" [hidden]="!imgLoading"></ion-spinner>
      <span class="img-add-block" [hidden]="locationImgs.length==9">
        <ion-icon name="add" class="img-add-icon"></ion-icon>
        <div class="img-input-wrap">
          <form enctype="multipart/form-data" class="img-add-input" method="post">
            <input name="token" type="hidden">
            <input type="file" (change)="imgChange($event)" accept="image/x-png, image/gif, image/jpeg" class="img-add-input" tappable
              multiple>
            <input type="submit">
          </form>
        </div>
      </span>
    </div>

    <ion-item class="no-padding-left">
      <ion-textarea placeholder="分享下你对这里的感受吧..." [(ngModel)]="description" class="status-textarea"></ion-textarea>
    </ion-item>
    <ion-item class="no-padding-left config-item" (click)="goSearchLoc()">
      <ion-icon name="ios-pin-outline" class="config-icon"></ion-icon>
      <span class="config-text">{{locationText}}</span>
    </ion-item>
    <ion-item class="no-padding-left config-item" (click)="goConfigCategory()">
      <!-- <i class="config-fa-icon fas fa-map-pin"></i> -->
      <ion-icon name="ios-apps-outline" class="config-icon"></ion-icon>
      <span class="config-text">设置坐标分类</span>
    </ion-item>
  </div>

  <!-- <div class="content-add blog" *ngSwitchCase="'blog'">
    <rich-text-add [showHeader]="showHeader" ></rich-text-add>

  </div> -->

  <ion-item class="no-padding-left" *ngIf="!locationInfo">
    <ion-label>添加到我的地图集：</ion-label>
    <ion-select [(ngModel)]="curSelectedMapId">
      <ion-option *ngFor='let map of maps' value="{{map._id}}">{{map.title}}</ion-option>
    </ion-select>
  </ion-item>

  <button ion-button block (click)="submit()">确定</button>

</ion-content>