$img-add-size:70px;
$img-add-border-color:#ccc;
img {
    width: 100%;
}
.item-img-add {
    position: relative;
    &.cover {
        height: 230px;
    }
    .nearlib-cover {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .img-add-block {
        float: left;
        display: inline-block;
        width: $img-add-size;
        height: $img-add-size;
        position: relative;
        border: 1px dashed $img-add-border-color;
        &.cover {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .1);
            height: 100%;
        }
        .cover-add-title {
            text-align: center;
            line-height: 230px;
        }
        .img-add-icon {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 50%;
            margin: auto;
            overflow: auto;
            height: 50px;
            font-size: 50px;
            line-height: 50px;
            text-align: center;
            color: $img-add-border-color;
        }
        .img-input-wrap {
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            overflow: hidden;
            .img-add-input {
                width: 100%;
                height: 100%;
            }
        }
    }
    .img-prev {
        .prev-item {
            width: $img-add-size;
            height: $img-add-size;
            list-style: none;
            float: left;
            margin-right: 5px;
            .prev-img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .cover-spinner {
        display: block;
        text-align: center;
        line-height: 230px;
        width: 70px;
        height: 70px;
        margin: 0 auto;
        position: relative;
        top: 80px;
    }
    .spinner svg {
        width: $img-add-size;
        height: $img-add-size;
    }
}


#mapContainer {
    width: 100%;
    height: 80%;
    min-height: 300px;
    &.full-map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        margin-top: -45px;
        padding-top: 45px;
    }
}

.tip-item {
    padding: 5px 0;
    border-bottom: 1px solid #c8c7cc;
    line-height: 20px;
    &:last-child{
        border-bottom:0
    }
    .tip-title{
        font-size:16px;
    }
    .tip-notice{
        color: #666;
    }
}
.customControl{
    width:0px;
    height:0px;
    overflow:visible;
    position:absolute;
    top:50%;
    left:50%; 
} 
.customControl img{ 
    width: 19px; 
    height: 32px; 
    left: -11px; 
    top: -33px; 
    position: absolute 
}