<!--
  Generated template for the LocationDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>地点详情</ion-title>
    <!-- <button ion-button icon-left clear small (click)="sendLike()" class="like-btn">
      <ion-icon name="heart" [ngClass]="{'active':hasLiked}"></ion-icon>
      <div *ngIf="likeCount!=0">{{likeCount}}</div>
    </button> -->
    <ion-buttons end>
      <button ion-button icon-only (click)="initShare()">
        <ion-icon name="md-share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="page-loading-wraper" [hidden]="!loading">
    <ion-spinner class="page-spinner"></ion-spinner>
  </div>
  <ion-card class="imgs-info" [hidden]="loading">
    <ion-item class="user-item">
      <h2 class="user-name">{{locationInfo.creater?.name}}</h2>
      <p class="location-desc" [innerHtml]="locationInfo.description | keepHtml">
      </p>
      <ion-avatar item-start class="user-avatar" nav-user-profile [userId]="locationInfo.creater?._id">
        <img src="{{locationInfo.creater?.avatar | imagefilter:'avatar'}}" *ngIf="locationInfo.creater?.avatar">
      </ion-avatar>
    </ion-item>
    <div class="location-img-list">
      <div class="img-wrapper" *ngFor='let img of locationInfo.imgs;let i = index;' (click)="showSliders(i)">
        <div class="location-img" [style.backgroundImage]="'url('+ (img|imagefilter:'thumbnail') +')'">
        </div>
      </div>
    </div>
    <div class="date-info">
      <ion-icon name="time"></ion-icon>
      {{locationInfo.addDate| date: 'MM-dd'}}
    </div>
  </ion-card>
  <map-card [dataSource]="locationInfo" [viewType]="'location-view'">
    <div card-header *ngIf="locationInfo">
      <ion-card-title>{{locationInfo.locationInfo?.name}}</ion-card-title>
      <div>
        <ion-icon name="pin"></ion-icon> {{locationInfo.locationInfo?.address}}
      </div>

    </div>
  </map-card>
  <comment [pageId]="locationParams.id" [toUser]="locationInfo.creater" [inputPosition]="'top'" [from]="'location'"></comment>
  <div class="edit-btn-action" *ngIf="isLogin && isOwner">
    <button class="edit-btn-item" ion-button color="secondary" (click)="editLocation()">编辑地点</button>
    <button class="edit-btn-item" ion-button color="danger" (click)="delLocation()">删除地点</button>
  </div>

</ion-content>