<!--
  Generated template for the MapDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>地图详情</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="initShare()">
        <ion-icon name="md-share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="page-loading-wraper" [hidden]="!loading">
    <ion-spinner class="page-spinner"></ion-spinner>  
  </div>
  <div id="listView" [hidden]="curView=='map'" [hidden]="loading">
    <ion-card>
      <div class="map-main-wrap">
        <img src="{{mapInfo.coverImg | imagefilter:'mural'}}" *ngIf="mapInfo.coverImg" />
        <div class="img-wrap"></div>
        <ion-row class="map-info">
          <ion-item class="info-item map-user-info no-padding-left">
            <ion-avatar item-start class="avatar" nav-user-profile [userId]="mapInfo.creater?._id">
              <img src="{{mapInfo.creater?.avatar | imagefilter:'avatar'}}" *ngIf="mapInfo.creater?.avatar">
            </ion-avatar>
            <div>{{mapInfo.creater?.name}}</div>
          </ion-item>
          <div class="info-item map-action">
            <button ion-button icon-left clear small (click)="sendLike()" class="like-btn">
              <ion-icon name="heart" [ngClass]="{'active':hasLiked}"></ion-icon>
              <div *ngIf="likeCount!=0">{{likeCount}}</div>
            </button>
            <button ion-button icon-left clear small (click)="goMapComments()">
              <ion-icon name="text"></ion-icon>
              <div>{{mapCommentCount}}</div>
            </button>
          </div>
        </ion-row>
      </div>
      <ion-card-content>
        <ion-card-title>
          {{mapInfo.title}}
        </ion-card-title>
        <p>
          {{mapInfo.description}}
        </p>
      </ion-card-content>

    </ion-card>

    <map-card *ngIf="mapLocations.length" [location]="mapLocations" [viewType]="'map-locations'" [viewTitle]="viewTitle"></map-card>

    <ion-card>
      <ion-list>
        <button ion-item *ngFor='let item of mapLocations' (click)="goLocationDetail(item)">
          <ion-thumbnail item-start>
            <img class="" src="{{item.imgs[0] | imagefilter:'thumbnail' }}">
          </ion-thumbnail>
          <h2>{{item.description}}</h2>
          <p>{{item.locationInfo.address}}</p>
          <button ion-button clear item-end>详情</button>
        </button>
      </ion-list>
      <div class="loadmore-locations-wrap c_txt" [hidden]="!hasMoreLocations">
        <button ion-button clear block class="loadmore-locations" (click)="loadMoreLocations()" [hidden]="loadingLocations">加载更多</button>
        <ion-spinner class="locations-spinner" [hidden]="!loadingLocations"></ion-spinner>  
      </div>
    </ion-card>
  </div>
  <div class="edit-btn-action" *ngIf="isOwner">
    <button class="edit-btn-item" ion-button (click)="addLocation()">添加地点</button>
    <button class="edit-btn-item" ion-button color="secondary" (click)="editMap()">编辑地图集</button>
    <button class="edit-btn-item" ion-button color="danger" (click)="delMap()">删除地图集</button>
  </div>

</ion-content>