page-signup {
  .invalid {
    border: 1px solid red;
  }
  .error-msg {
    padding-left: 16px;
    color: red;
    &.avatar {
      padding-left: 0
    }
  }
  .user-avatar-add {
    text-align: center;
    margin: 10px 0;
    position: relative;
    .avatar-spinner {
      position: absolute;
      line-height: 80px;
      text-align: center;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 50%;
      margin-top: -14px;
      z-index: 11;
    }
    .user-avatar-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      background-color: white;
    }
    .avatar-icon {
      width: 100%;
      height: 100%;
      font-size: 60px;
      line-height: 70px;
    }
    .img-add-block {
      border-radius: 50%;
      border: 1px solid #ccc;
      width: 80px;
      height: 80px;
      margin: 10px auto;
      position: relative;
    }
    .img-input-wrap {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      overflow: hidden;
      .img-add-input {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}
