<ion-header>
    <ion-navbar>
        <ion-title>{{title}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="openPathSelect($event)" [disabled]="!curMarker || !curPosition">
                <ion-icon name="ios-navigate"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <div id="mapView" [hidden]="curView=='list'">
        <div class="location-category" *ngIf="type == 'map-locations' && categoryList.length > 1">
            <div class="category-all" (click)="selectCategory('all')" [ngClass]="{'active':curCateType == 'all'}">全部</div>
            <div class="category-list">
                <div class="category-btn" [ngClass]="{'active':curCateType == 'cate_'+i }" *ngFor="let item of categoryList;let i = index" (click)="selectCategory('cate_'+i,item)">
                    <div class="category-marker" [ngStyle]="{'background-color':item.iconColor}">
                        <i class="icon-item {{item.iconClass}}"></i>
                    </div>
                    <div class="category-titel">{{item.title}}</div>
                </div>
            </div>
        </div>
        <div [attr.id]="randomMapId" class="item full-map map-container">
        </div>
        <div class="path-plan-pannel-trigger" *ngIf="pathSearchTrigger" [@enterAnimation] (click)="openPathPannel()">{{showPathPanel?'关闭':'查看'}}导航详情</div>
        <div id="pathPannel" #pathPannel [ngClass]="{'slideInUp':showPathPanel,'slideOutDown':!showPathPanel}"></div>

        <ion-slides id="slideContainer" [pager]=false (ionSlideDidChange)="slideDidChange()" *ngIf="showSlides">
            <ion-slide *ngFor='let item of slidesData' class="map-slider">
                <button ion-item (click)="goLocationDetail(item)">
                    <ion-thumbnail item-start>
                        <img class="" src="{{item.imgs[0] | imagefilter:'thumbnail' }}">
                    </ion-thumbnail>
                    <h2>{{item.locationInfo.name}}</h2>
                    <p>{{item.description}}</p>
                    <button ion-button clear item-end>详情</button>
                </button>
            </ion-slide>
        </ion-slides>

    </div>

</ion-content>
